<form action="/robots" method="post">
  name: <input type="text" name="robot[name]"><br>
  city: <input type="text" name="robot[city]"><br>
  state: <input type="text" name="robot[state]"><br>
  department: <input type="text" name="robot[department]"><br><br>
  <input type="submit" value="Create robot">
</form>